body {
	background-color: #cc9900;
	color: #7a4d1d;
	font-size: 17px;
	font-family:'PT Sans', sans-serif;
	line-height: 1.6;
	background-image: url('images/road.jpg');
	background-size: cover;
	background-attachment: fixed;
}

a{
	text-decoration: none;
	color: #663300;
	font-family: 'PT Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

a:hover {
	color: #ff3300;
}

p{
	text-justify: center;
}

h1{
	font-size: 45px;
	color: rgb(255, 153, 51);
	letter-spacing: 6px;
	margin-bottom: 40px;
	font-weight: 800;
}
h2{
	color:#ff971d; 
	letter-spacing: 1px;
	font-size: 23px;
	font-weight: 500;
}

h1, h2{
	font-family: 'Oxanium', cursive; 
}

h3 {
	font-family: 'Satisfy', cursive;
	color: #ff971d;
	font-size: 35px;
}

.btn-orange {
	background-color: #e68a00;
	border-radius: 5%;
	color: #ffffff;
	padding: 15px 20px;
	margin: 20px;
	line-height: 4;
}

div{
	background: #e5e5e5;
	border: 3px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgba(0.7);
}


#logo {
	height: 220px;
	width: 180px;
	border-radius: 50%;
	box-shadow: 0 10px 30px #ffbf80;
	text-align: center;
	display: inline-block;
	margin: 10px;
}


li{
	display: inline;
	padding: 25px 25px;
}

.container {
		background-color: rgba(250,250,250,0); border: 0px;
		width: 800px;
		margin: 70px auto;
	}

.card-grey {
	box-shadow: 0 10px 30px black;
	border-color: rgba(217, 217, 217, 0.7);
	margin-top: 28px;
	border-radius: 1%;
	padding: 24px;
	text-align: center;
	background-color: rgba(217, 217, 217, 0.9);

}

@media(max-width: 960px) {
	.container {
		width: 720px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 540px;
	}
}


@media (max-width: 540px) {
	.container {
		width: 400px;
	}
}

#socialising {
	text-align: center;
	font-size: 60px;
	margin: 0px;
}

.card-grey:hover {
	background-color: #dfdfdf;
	box-shadow: 0 25px 45px black;
}

#introduction {
	background-color: rgba(217, 217, 217, 0.9)
}





